# Node.js / Express
node_modules/
npm-debug.log
yarn-error.log
*.pid
*.seed

# React
/build/
/node_modules/
npm-debug.log
yarn-error.log
.env
/images

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/

# Build output
/dist/
/public/bundle.js
/public/bundle.js.map
/public/index.html


# Private Key
*.pem